$def with(user_data)

    <div class="row">
        <div class="col-md-offset-4 col-md-1 text-right">
            <img src="$get_homepath(True)/UNCode/static/images/logo_unc.svg" alt="logo" style="margin-top: 17px" width="100"/>
        </div>
        <div class="col-md-5">
            $:_('<h2 class="text-justify">Hello!<br/><small>Welcome on the UNCode platform.</small></h2>')
        </div>
        <div class="col-md-offset-4 col-md-4">
            $:template_helper.call('welcome_text', template_helper=template_helper)
        </div>
        <div class="col-md-offset-4 col-md-4">
            <p>$:_("You don't have a UNCode account yet!. You can create a new account with your existing account in this platform or you can create a different account via UNCode")</p>              
            <br/><p><a>$:_("Create a new UNCode account")</a></p>
            <p><a>$:_("Create a UNCode account via this platform")</a></p>
        </div>
    </div>

