$def with (task_data,environments,res_types,contains_is_html)

$#
$# This file is part of INGInious. See the LICENSE and the COPYRIGHTS files for
$# more information about the licensing of this file.
$#

<div id="time_limit_label" class="form-group">
    <label for="limit-time" class="col-sm-4 control-label">$:_("Timeout limit (in seconds)")</label>
    <div class="col-sm-8">
        <input type="number" class="form-control" id="limit-time" name="limits[time]" placeholder="30" value="${task_data.get('limits',{}).get('time',30)}"/>
    </div>
</div>
<div id="hard_time_limit_label" class="form-group">
    <label for="limit-hard-time" class="col-sm-4 control-label">$:_("Hard timeout limit (in seconds) <small>Default to 3*timeout</small>")</label>
    <div class="col-sm-8">
        <input type="number" class="form-control" id="limit-hard-time" name="limits[hard_time]"
               placeholder="90" value="${3 * task_data.get('limits',{}).get('time','')}"/>
    </div>
</div>
<div id="memory_limit_label" class="form-group">
    <label for="limit-memory" class="col-sm-4 control-label">$:_("Memory limit (in megabytes)")</label>
    <div class="col-sm-8">
        <input type="number" class="form-control" id="limit-memory" name="limits[memory]" placeholder="30" value="${task_data.get('limits',{}).get('memory',100)}"/>
    </div>
</div>
<div id="output_limit_label" class="form-group">
    <label for="limit-output" class="col-sm-4 control-label">$:_("Output limit (in megabytes)")</label>
    <div class="col-sm-8">
        <input type="number" class="form-control" id="limit-output" name="limits[output]" placeholder="2" value="${task_data.get('limits',{}).get('output',2)}"/>
    </div>
</div>
<div id="environment_label" class="form-group">
    <label for="environment" class="col-sm-4 control-label">$:_("Grading environment")</label>
    <div class="col-sm-8">
        <select id="environment" class="form-control" name="environment">
            $for env in environments:
                <option value="$env"
                    $if env == task_data.get('environment'):
                        selected="selected"
                >$env</option>
        </select>
    </div>
</div>
<div id="response_type_label" class="form-group">
    <label for="response_type" class="col-sm-4 control-label">$:_("Task's responses type")</label>
    <div class="col-sm-8">
        <select id="response_type" class="form-control" name="response_type">
            $for type in res_types:
                <option value="$type"
                    $if type == task_data.get('response_type'):
                        selected="selected"
                >$type</option>
        </select>
    </div>
</div>
<div id="allow_internet_label" class="form-group">
    <label for="network_grading" class="col-sm-4 control-label">$:_("Allow internet access inside the grading container?")</label>

    <div class="col-sm-8">
        <div class="checkbox"><label>
            <input type="checkbox" id="network_grading" name="network_grading"
                   $if task_data.get('network_grading',False):
                       checked="checked"
            />&nbsp;
        </label></div>
    </div>
</div>

<div id="change_grading_environment" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">$:_("Change grading environment")</h4>
            </div>
            <div class="modal-body">
                $:_("If you change the grading environment task subproblem will be deleted!")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">$:_("Close")</button>
                <button id="change_environment" type="button" class="btn btn-danger" data-dismiss="modal" >$:_("Change")</button>
            </div>
        </div>
    </div>
</div>